<div class="text-blue-500">
  <main class="container mx-auto mt-8">
    <a class="bg-blue-500 text-white p-2 rounded mb-4" href="/create">Create
      Event</a>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-6"
      id="eventsContainer"
    >

    </div>
  </main>
</div>