<div class="text-blue-500">
    <main class="container mx-auto mt-8">
        <a class="bg-blue-500 text-white p-2 rounded mb-4" href="/create">Create Event</a>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
            <div class="bg-gray-200 p-4 rounded cursor-pointer" onclick="viewEvent('Event 1', 'January 1, 2023, 12:00 PM', 'Event created by: John Doe')">
                <h2>Event 1</h2>
                <p id="desc">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>January 1, 2023, 12:00 PM</p>
                <p id="tag">You created this event</p>
            </div>
        </div>
    </main>
</div>
{{!-- want to populate the dashboard with created events                     localhost:3001/create--}}
