<form action="/create-event" method="post">
  <label for="eventName">Event Name:</label><br>
  <input type="text" id="eventName" name="eventName"><br>
  <label for="eventDate">Event Date:</label><br>
  <input type="date" id="eventDate" name="eventDate"><br>
  <input type="submit" value="Create Event">
</form>