<div class="">
    <h2>Login</h2>

    <form class="">
        <div class="">
            <label for "username">Username</label>
            <input type="text" />
        </div>
        <div class="">
            <label for "password">Password</label>
            <input type="password" />
        </div>
        <div class="">
            <button class="" type="submit">Login</button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>