<div class="text-blue-500">
    <main class="container mx-auto mt-8">
        <input  id="inputField" class="bg-white text-blue"></input>
        <button id="searchButton" class="bg-blue-500 text-white p-2 rounded mb-4">Search</button>
        <div id="searchContainer"class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">

        </div>
    </main>
</div>
{{!-- need a href for linking to the event page when the event card is clicked. ask whoever is doing it and how to tell which event (event id or whatever it may be) --}}

