<div class="">
    <h2>Sign up</h2>

    <form class="">
        <div class="">
            <label for "full-name">Full Name</label>
            <input type="text" />
        </div>
        <div class="">
            <label for "email">Email</label>
            <input type="text" />
        </div>
        <div class="">
            <label for "username">Username</label>
            <input type="text" />
        </div>
        <div class="">
            <label for "password">Password</label>
            <input type="password" />
        </div>
        <div class="">
            <button class="" type="submit">Sign Up</button>
        </div>
    </form>
    
</div>

<script src=""></script>