<section class="mt-10 flex m-auto relative max-w-lg max-h-9 rounded-md" style="width: fit-content;">
    <div class="flex flex-col items-center justify-center h-screen text-white bg-blue-500 p-16 rounded-corners" style="height: fit-content;">
        <h2 class="m-4 text-xl cursor-default">Sign up for The Plug</h2>

        <form class="m-2 text-base">
            <div class="m-2">
                <label for "full-name">Full Name</label>
            </div>
            <div class="text-black">
                <input id="nameSignup" type="text" />
            </div>
            <div class="m-2">
                <label for "email">Email</label>
            </div>
            <div class="text-black">
                <input id="emailSignup" type="text" />
            </div>
            <div class="m-2">
                <label for "username">Username</label>
            </div>
            <div class="text-black">
                <input id="usernameSignup" type="text" />
            </div>
            <div class="m-2">
                <label for "password">Password</label>
            </div>
            <div class="text-black">
                <input id="passwordSignup" type="password" />
            </div>
            <div class="m-2">
                <button id="signUpBtn" class="" type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <p class="m-2 mt-6 cursor-default">Already have an account?</p> <button id="loginHere" class="m-2">Login</button>
        </div>
    </div>
</section>

<script src="./js/login.js"></script>
