<section class="mt-10 flex m-auto relative max-w-lg max-h-9 rounded-md" style="width: fit-content;">
    <div class="flex flex-col items-center justify-center h-screen text-blue boxbg p-16 rounded-corners" style="height: fit-content;">
        <h2 class="m-4 text-xl">Sign up</h2>

        <form class="m-2 text-base">
            <div class="m-2">
                <label for "full-name">Full Name</label>
            </div>
            <div>
                <input type="text" />
            </div>
            <div class="m-2">
                <label for "email">Email</label>
            </div>
            <div>
                <input type="text" />
            </div>
            <div class="m-2">
                <label for "username">Username</label>
            </div>
            <div>
                <input type="text" />
            </div>
            <div class="m-2">
                <label for "password">Password</label>
            </div>
            <div>
                <input type="password" />
            </div>
            <div class="m-2">
                <button class="" type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <p class="m-2 mt-6">Already have an account?</p> <button class="m-2">Login</button>
        </div>
    </div>
</section>

<script src=""></script>